html,body {
  height: 100%;
}

.container{
  display: flex;
  justify-content:center;
  flex-direction: column;
  min-height: 100%;
<<<<<<< Updated upstream
=======
  min-width: 100%;
>>>>>>> Stashed changes
}
.login_row{
align-self: center;
}
#new_user_button{
  padding-top: 1%;
  margin-left: -9%;
  align-self: center;
}

.padder{
  margin-left:10%;
  margin-top: 2%;
}

.up_padder{
  margin-top: 2%;
}
<<<<<<< Updated upstream
a:link{
  background-color: primary !important;
=======

#topbar{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 5%;
}
#main_page{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 89%;
  text-align: center;
  padding-top: 1%;
}
#footer{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height:6%;
}

.topbar_link{
  display: block;
  text-align: center;
  width: 100%;
    border: solid 1px;
    border-radius: 5px;
    border-color: white;
    color: black;
    background-color: #6c757d;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 1px 2px;
    padding-bottom: 3%;
}
.topbar_link:hover{
  background-color: #343a40;
}


.menubutton{
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
  background-color: #6c757d;
}
.menubutton:hover{
  background-color: #343a40;
}

.data_list{
  background-color: white;
  display: block;
  width: 100%;
  text-align: left;
}

#scrollable
{
  overflow-y: scroll;
  height: 90%;
  background-color: white;
}

#visual_data_box
{
  height: 90%;
>>>>>>> Stashed changes
}
